.App {
  text-align: center;
}

body {
  background-color: #000; /* Define o fundo preto para toda a aplicação */
  color: #fff; /* Define a cor do texto como branco para melhor contraste */
}

.carousel-img {
  height: 400px;
  object-fit: cover;
}

.section {
  margin-bottom: 30px;
  text-align: left;
}

.section h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 15px;
  color: #fff; /* Define a cor do texto como branco */
}

.section p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fff; /* Define a cor do texto como branco */
}

.section ul {
  font-size: 1.2rem;
  color: #fff; /* Define a cor do texto como branco */
}

.custom-button.primary {
  background-color: #FF66C4; /* Cor de fundo roxa choque */
  border: 2px solid #fff; /* Borda branca */
  color: white;
  padding: 10px 30px; /* Ajuste o padding para se parecer com o botão do site */
  border-radius: 25px; /* Bordas arredondadas */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Adiciona transição para hover */
  display: inline-block;
  font-size: 1.2rem; /* Tamanho da fonte */
  font-weight: bold; /* Negrito */
  text-transform: uppercase; /* Texto em maiúsculas */
}

.custom-button.primary:hover {
  background-color: #ec4aae; /* Cor de fundo ao passar o mouse (um pouco mais escura) */
  transform: scale(1.05); /* Leve aumento no tamanho ao passar o mouse */
}

.styled-divider {
  border: 0;
  height: 3px; /* Aumente a altura para tornar a linha mais visível */
  width: 60%; /* Ajuste a largura conforme necessário */
  margin: 30px auto; /* Centraliza a linha */
  background: #fff; /* Torna a cor da linha mais escura */
}

.about-title {
  text-align: center;
  margin-bottom: 20px;
  color: #fff; /* Define a cor do texto como branco */
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 20px;
}

.about-image {
  width: 100%;
  height: auto;
}

.centered-title {
  text-align: center;
  color: #fff; /* Define a cor do texto como branco */
}

.centered-text {
  text-align: center;
  color: #fff; /* Define a cor do texto como branco */
}

.centered-button {
  display: flex;
  justify-content: center;
}

/* App.css ou seu arquivo de estilos principal */

/* App.css ou seu arquivo de estilos principal */

.whatsapp-icon {
  position: fixed;
  right: 20px; /* Posiciona o ícone 20px do lado direito da tela */
  bottom: 20px; /* Posiciona o ícone 20px do fundo da tela */
  z-index: 1000; /* Garante que o ícone fique acima de outros elementos */
}

.whatsapp-icon img {
  width: 60px; /* Ajuste o tamanho do ícone conforme necessário */
  height: auto; /* Mantém a proporção original do ícone */
  cursor: pointer; /* Define o cursor como ponteiro ao passar por cima */
}

