body {
    font-family: Arial, sans-serif;
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem 1rem;
}

section {
    padding: 2rem 0;
}

.custom-register-btn {
    /* Seu estilo atual */
    color: #ffffff;
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: inherit;
    text-decoration: underline;
    cursor: pointer;
    
    /* Adicione estas propriedades para centralizar o texto */
    display: inline-block;
    vertical-align: middle;
}


.custom-register-btn:hover {
    color: #ffffff; /* Cor do texto ao passar o mouse */
    background-color: transparent; /* Cor de fundo transparente ao passar o mouse */
}
